[PDF](<Session 5.pdf>)

[Code](<Session 5.txt>)

# Assignment 6

1 ) CREATE A VIEW EMP_SAL_DETAILS TO GET EID NAME DOJ DEPT DESI SALARY AS BASIC. ALSO CALCULATE  HRA (15% OF BASIC), PF (9% OF BASIC), NET(BASIC+HRA+PF), GROSS(NET-PF).

Create view EMP_SAL_DETAILS

as

select emp.EID, NAME, DOJ, DEPT, DESI, SALARY AS BASIC, salary*.15 as HRA,salary*.09 as PF,salary+(salary*.15)+(salary*.09) as gross

from emp

inner join emp_sal

on emp.eid=emp_sal.eid

2)  CREATE  A VIEW TO DISPLAY EID,NAME, DOJ, DESI, DEPT  OF ALL THE MANAGERS JOINED IN 2019.

Create view EMP_SAL_DETAILS_manager

as

select emp.EID, NAME, DOJ, DEPT, DESI

from emp

inner join emp_sal

on emp.eid=emp_sal.eid

where dept like '%manager%'

3) CREATE A VIEW TO HOW MANY TEAM MEMBERS ARE THERE IN EACH DEPARTMENTS IN EACH CITY, ALONG WITH THERE TOTAL & AVERAGE SALARY.

create view dept_city

as

select count(eid),sum(salary),avg(salary) from emp_sal

group by dept,city

A-1: DEPARTMENT WISE TEAM SIZE AND AVERAGE SALARY OF ALL EMPLOYEES.

select count(eid),avg(salary)

from emp_sal

group by dept

A-2 : COUNT OF MANAGERS  IN THE COMPANY.

select (eid) from emp_sal

where desi like '%manager%'

A-3: MAXIMUM & MINIMUM SALARY  OF AN ASSOCIATE.

select max(salary),min(salary) from emp_sal

where desi like '%associate%'

A-4: DEPARTMENT WISE TEAM SIZE AND AVERAGE SALARY OF DELHI EMPLOYEES.

select count(eid),avg(salary) from emp_sal

group by dept

A-5: GENERATE OFFICIAL EMAIL OF THE EMPLOYEE TAKING 1ST CHARATCET OF FIRST NAME , 1ST CHARATCER OF LAST NAME , LAST 3 DIGITS OF EID, FOLLED BY ‘RCG.COM’.  EMAIL SHOULD BE IN A UPPER CASE.

select upper(concat(left(name,1)

left(RIGHT(NAME, LEN(NAME)- CHARINDEX(' ', NAME)),1)

right(eid,3),

'rcg.com'))

from emp

A-6: NAME,CITY , PHNO & EMAIL OF THE EMPLOYEES WHOSE AGE >=40.

select name ,city,phone,email of emp where datediff(yy,dob,getdate()) >=40

A-7 EID, NAME DOJ OF EMPLOYEES  WHO HAVE COMPLETED 5 YEARS  IN  THE COMPANY

select 

eid,name,doj

from emp

where datediff(yy,doj,getdate()) >=5

A-8: DETAILS OF THE MANAGERS HAVING BIRTHDAY IN THE CURRENT MONTH

select * from emp_sal

where desi like '%manager%'

and month(dob) = month(getdate())

A-9 :  EID, DEPT , DESI , SALARY OF THE EMPLOYEE WHO IS  GETTING THE MAXIMUM SALARY

select eid,dept,desi,salary from emp_sal

where salary= (select max(salary) from emp_sal)

A-10 :  EID, NAME OF EMPLOYEE WHO HAS LONGEST NAME

select eid,name from emp

where len(name)= (select max(len(name)) from emp)