[PDF](<Session 4.pdf>)

[CODE](<Session 4.txt>)

[INVENTORY STRUCTURE](<INVENTORY STRUCTURE V3.xlsx>)

# Assignment 5

1 ) EID NAME CITY DOJ DEPT DESI SALARY  OF THE DELHI EMPLOYEES

select emp.eid,name,city,doj,dept,desi,salary
from emp
inner join emp_sal
on emp.eid=emp_sal.eid
where city='delhi'


2 ) DETAILS OF ALL THE EMPLOYEES WHOSE SALARY DETAILS ARE NOT AVAILABLE. 


select emp.eid,name,city,doj,dept,desi,salary
from emp
inner join emp_sal
on emp.eid=emp_sal.eid
where salary is null

# Inventory structure

create table supplier
(
    sid char(5) primary key,
    sname varchar(20) not null,
    sadd varchar(50) not null,
    scity varchar(20) default 'delhi',
    sphone varchar(15) unique key,
    email varchar(20)
)

create table product
(
    pid char(5) primary key,
    pdesc varchar(20) not null,
    price float check(price>0),
    category char(2) check(category in ('IT','HA','HC'))
    sid char(5) references supplier(sid)
)

create table cust
(
    cid char(5) primary key,
    cname varchar(20) not null,
    address varchar(20) not null,
    city varchar(20) not null,
    phone varchar(20) not null,
    email varchar(20) not null,
    dob date check(dob< '1-jan-2000')
)

create table stock
(
    pid char(5) references product(pid),
    sqty int check(sqty>=0),
    rol int check(rol>0),
    moq int check(moq>=5)
)

create table orders
(
    oid char(5) primary key
    pid char(5) references product(pid),
    cid char(5) references cust(cid),
    oqty int check(oqty>=1),
    odate date

)