[SQL Intro](<Session 1.pdf>)

### Assignment 1

**1. Create a database DEMO**

create database demo

**2. Create table EMP  with the following fields:**
- **EID NAME ADDR CITY DOB PHONE NO. EMAIL.  EID should be like  â€˜E0001'**

create table EMP
(
    EID char(5),
    NAME varchar(50),
    ADDR varchar(100),
    CITY varchar(30),
    DOB date,
    PHONE_NO varchar(20),
    EMAIL varchar(50)
)

**3.Insert 10 appropriate records in the Emp table**

insert into EMP
values
('E0001', 'Aarav Kumar', '402, Lotus Apartments, MG Road', 'Mumbai', '1990-05-21', '9876543210', 'aarav.kumar@gmail.com'),
('E0002', 'Priya Sharma', '1204, Shanti Towers, Sharda Path', 'Jaipur', '1987-11-30', '9988776655', 'priya.sharma@example.com'),
('E0003', 'Raj Malhotra', '78/79, East Street', 'Pune', '1992-02-15', '9123456789', 'raj.m@example.com'),
('E0004', 'Neha Singh', '305, Blue Ridge, Hinjewadi Phase 1', 'Pune', '1988-08-19', '9201234567', 'neha.singh@hotmail.com'),
('E0005', 'Kiran Bhatia', '196, Green Park', 'New Delhi', '1995-03-05', '9345678901', 'kiran.bhatia@example.com'),
('E0006', 'Anil Kapoor', '501, Marina Heights, Bandstand', 'Mumbai', '1993-07-17', '9456789012', 'anil.kapoor@outlook.com'),
('E0007', 'Sunita Goyal', '88C, MGRoad, Sector 14', 'Gurgaon', '1991-01-26', '9567890123', 'sunita.goyal@ymail.com'),
('E0008', 'Vishal Singh', '45, Lake View Colony', 'Hyderabad', '1989-09-10', '9678901234', 'vishal.s@libero.it'),
('E0009', 'Meena Das', '255, Red Hills', 'Kolkata', '1994-12-07', '9789012345', 'meena.das@gmail.com'),
('E0010', 'Amit Rao', '49, Sector 6, Pocket 5', 'Chennai', '1985-04-28', '9890123456', 'amit.rao@example.com');

**Value can be inserted also with mentioned columns.**

Insert into EMP (EID,NAME)
values
('E0001','Rakesh'),
('E0001','Arun);

**4.Use SELECT command to view the contents of emp table**

Select * from EMP

# SQL Operator , Normalization and Constraints

[PDF](<Session 1.pdf>)

[Code](<Session 2.txt>)

### Assignment 2

In the DEMO database  create table EMP_SAL with the following fields:
- EID DEPT DESI  DOJ SALARY
- Insert 7 appropriate records in the EMP _SAL table 
- Use SELECT command to view the contents of EMP_SAL  table

Create table EMP_SAL
(
   EID char(5),
   DEPT varchar(20),
   DESI varchar(20),
   DOJ date,
   SALARY float 
)

insert into EMP_SAL
values
('E0001', 'Finance', 'Accountant', '2022-01-15', 55000.00),
('E0002', 'HR', 'HR Manager', '2021-12-10', 65000.00),
('E0003', 'IT', 'Software Engineer', '2022-02-20', 75000.00),
('E0004', 'Marketing', 'Marketing Executive', '2022-03-05', 60000.00),
('E0005', 'Operations', 'Operations Manager', '2021-11-20', 80000.00),
('E0006', 'Sales', 'Sales Executive', '2022-04-15', 70000.00),
('E0007', 'Finance', 'Financial Analyst', '2022-05-01', 60000.00);

select * from EMP_SAL

select * from emp where name like '%sharma'

update emp_sal 
set salary=salary+(salary*.10)
where desi like '%manager%'

### Normalization

https://www.youtube.com/watch?v=CedOasDoe-w&list=PLqxA5hCyKliey9CbxszUJbKl8aooQhSty&index=16   1NF

https://www.youtube.com/watch?v=80CcB9_HSxU&list=PLqxA5hCyKliey9CbxszUJbKl8aooQhSty&index=17 2NF

https://www.youtube.com/watch?v=aOZ5z7z9y-g&list=PLqxA5hCyKliey9CbxszUJbKl8aooQhSty&index=20 3NF

# Assignment 3

alter table emp
add constraint pk_emp primary key(EMPID)

alter table emp alter name varchar(20) not null

alter table emp
add constraint chk_addr check(addr like '%UTTAM NAGAR%')

alter table emp
add constraint chk_city check(city in ('DEL','GGN','FBD','NOIDA'))

alter table emp 
add constaraint unky_phone  unique(phoneno)

alter table emp
add constaraint chk_email check(email like '%gmail%' or email like '%yahoo%')

alter table emp 
add constaraint chk_dob check(dob <='1-jan-2020')

---------------------------------------------------------------------------------------------------------

alter table emp_sal
add constraint fk_empid foreign key(empid) references emp(EMPID)

alter table emp_sal
add constraint chk_dept check(DEPT in ('HR','MIS','OPS','IT ADMIN','TEMP'))

alter table emp_sal
add constraint chk_desi check(desi in ('ASSO','MGR','VP','DIR'))

alter table emp_sal 
add constaraint chk_basic check(BASIC >=20000)

alter table emp_sal
add constaraint def_dept default 'temp' for DEPT

---------------------------------------------------------------------------------------------------------