In this MySQL challenge, your query should determine the company's hierarchical structure based on the Position and ReportsTo columns. The output should include the Position of the individual, their FirstName and LastName, and the Position of the person they report to. Exclude entries where ReportsTo is null. The result should be ordered by the Position of the person they report to and then by the individual's Position in ascending alphabetical order. The expected columns in the output are: Position, FirstName, LastName, and ReportsToPosition.

select Position, FirstName, LastName,  ReportsTo as 'ReportsToPosition' from main_table

where ReportsTo is not null

group by position ,reportsto

order by reportsto,position

In this MySQL challenge, your query should return the rows from your table where LastName = Smith or FirstName = Robert and the rows should be sorted by Age in ascending order.

select ID,firstname,lastname,age from maintable

where LastName = 'Smith' or FirstName = 'Robert' 

order by age desc

In this MySQL challenge, your query should determine the number of new members who joined each month in 2017.
The output should display the month (in YYYY-MM format) and the total number of members who joined that month. Ensure you only consider entries from the year 2017. The result should be ordered by the month in ascending order. The expected columns in the output are: JoinMonth and TotalMembersJoined.

select date_format(datejoined,'%Y-%m') as joinmonth,count(eid) as totalmembersjoined from main_table

where year(datejoined)=2017

group by date_format(datejoined,'%Y-%m')

order by date_format(datejoined,'%Y-%m')

In this MySQL challenge, your query should determine the distribution of vendors across different regions for the year 2018. The output should display the Region, the number of unique VendorID's in that region, and the total number of entries for each region. Ensure you only consider entries from the year 2018. The result should be ordered by the number of unique VendorID's in descending order, followed by the total number of entries in descending order. The expected columns in the output are: Region, UniqueVendors, and TotalEntries.

select region,count(distinct vendorid) as uniquevender,count(*) as total_entires from main_table

where year=2018

group by region

order by uniquevender desc,total_entires desc

In this MySQL challenge, your query should return the number of rows from your table where FirstName contains "e" and LastName has more than 5 characters.

select (*) from maintable

where firstname like '%e%' and length(lastname) >5

-----------------------------------------------

Which MongoDB command allows you to increment a field's value?

Ans: $inc

You want to update the status of **all orders** placed before a certain date to "expired". Which command you will use in MongoDb

Ans: updatemany

You need to **retrieve** a customer's order information based on their order ID.

If the **order doesn't exist, you want to return a message indicating that it's not found**.


Question: Which MongoDB command would you use to handle this scenario?

Ans:findOneandUpdate

How do **KPIs contribute to decision-making** in Power BI reports?

Ans: KPIs summarize key metrics for quick assessment and informed decision-making

How do **Table Calculations and Calculated Fields differ** in Tableau in terms of their calculation scope?

Ans: Table Calculations operate on the visualized data after aggregation

In which scenario would you use Blends instead of Joins in Tableau?

Ans: When data from sources has a different level of granularity.

Which type of data is best represented by a Dimension in Tableau?

Ans: The average salary of male employees is more than the average salary of the organization

The statement that is **executed automatically by the system as a side effect of the modification of the database** is

Ans: Trigger

You have a table "Employees" with columns: EmployeeID, FirstName, LastName, ManagerID, and Salary. You want to retrieve the average salary of employees who have the same manager. Which SQL query would you use?

Ans:SELECT ManagerID, AVG(Salary) FROM Employees GROUP BY ManagerID;

How do "Temporary Tables" and "Base Tables" differ in terms of data persistence?

Ans:Temporary tables are automatically deleted after a session ends, while base tables retain data until explicitly dropped.

How do "Stored Procedures" and "Functions" differ in terms of data manipulation?

Ans: Stored procedures can modify data, while functions are read-only and cannot modify data.

What is the ACID properties in SQL Transaction?

Ans:Atomicity, Consistency, Isolation, Durability

Window functions in SQL are used to:

Ans: Perform calculations on individual rows of a result set.

You have a list of customers' new orders to insert, and you also need to update their loyalty points.

Question: Which MongoDB command allows you to perform inserts and updates in bulk?

Ans: bulkWrite

What is the primary purpose of a Dashboard in Power BI?

Ans: To offer a high-level overview of key metrics and insights

Which component of Power BI allows you to create relationships between tables and define calculations?

Ans: PowerPivot

What does the COALESCE function do in SQL?

Ans:Returns the first non-NULL expression in a list

With SQL, how do you select all the records from a table named "Customers" where the "Last_Name" is alphabetically between (and including) "Brooks" and "Gray"?

Ans: SELECT * FROM Customers WHERE Last_Name BETWEEN 'Brooks' AND 'Gray';

What function rounds a number to the smallest integer value greater than or equal to a number?

Ans: CEIL()

Which of the following is NOT TRUE about the ON clause?

Ans: It is mandatory in a JOIN operation

What is a Cartesian join and how can it be converted into an inner join?

Ans: A Cartesian join combines every row from the first table with every row from the second table. It can be converted into an INNER JOIN by adding a WHERE clause specifying the joining condition.

You need to remove a document from the "customers" collection based on their email address. Which MongoDB command is suitable for this task?

Ans:findOneAndDelete

What is the difference between Nested & Correlated Queries?

Ans: Nested queries can be executed independently of the outer query, while correlated queries depend on the outer query for execution.

What is a Case Function?

Ans:A function used for conditional logic in SQL queries

What data structure is used to implement a MySQL indexes?

Ans: B-Tree

What does the SAVEPOINT command do in PL/SQL?

Ans: It creates points within the groups of transactions in which to ROLLBACK